<div class="breadcrumb-inner">
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <a ui-sref="app.general">
          <span class="glyphicon glyphicon-home btn-icon accent" aria-hidden="true"></span>
          Board index
        </a>
      </li>
      <li>
        <a ui-sref="app.topic({ topicId: $ctrl.thread.topic._id })"
          ng-bind="::$ctrl.thread.topic.title">
        </a>
      </li>
      <li ng-bind="::$ctrl.thread.title"></li>
    </ol>
  </div>
</div>

<div class="container">
  <div role="alert" 
    ng-hide="$ctrl.isModalMessage || !$ctrl.errorMessage" 
    class="alert alert-danger"
    ng-bind="::$ctrl.errorMessage">
  </div>
</div>

<warning-message ng-show="$ctrl.isUserBanned"></warning-message>

<div class="thread-list" data-ng-cloak>
  <div class="container">
    <div class="panel">
     
      <div class="panel-heading panel-accent">
        <div class="thread-heading">
          <div class="row">
            <div class="col-xs-10 content">
              <div class="content-icon">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </div>
              <div class="content-inner">
                <span class="thread-title" 
                  ng-bind="::$ctrl.thread.title">
                </span>
              </div>
            </div>
            <div class="col-xs-2 content-controls">
              <admin-thread-controls thread="$ctrl.thread" 
                is-admin="$ctrl.isAdmin" 
                current-state="$ctrl.currentState"
                topic-id="$ctrl.thread.topic._id"
                on-reload="$ctrl.reload()">
              </admin-thread-controls>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">

        <div class="post">
          <header class="post-header">
            <div class="content">
              <div class="content-inner">
                <dl>
                  <dt>
                    by <a ui-sref="app.publicProfile({ userId: $ctrl.thread.author._id })" 
                      class="accent"
                      ng-bind="$ctrl.thread.author.profile.nickname || $ctrl.thread.author.name">
                    </a>
                  </dt>
                  <dd>{{$ctrl.thread.createdAt | date: "medium"}}</dd>
                </dl>
              </div>
            </div>
          </header>
          <div class="post-inner">
            <div class="row">
              <div class="col-xs-3 col-md-2">
                <img ng-src="{{::$ctrl.thread.author.profile.image.medium}}" 
                  class="img-responsive center-block" 
                  alt="User Image">
              </div>
              <div class="col-xs-9 col-md-10">
                <div class="post-content text-justify"
                  ng-bind="::$ctrl.thread.description">
                </div>
              </div>
            </div>
          </div>
          <footer class="post-footer clearfix">
            <thread-controls thread="$ctrl.thread"
              is-admin="$ctrl.isAdmin"
              is-user="$ctrl.isUser"
              is-thread-author = "$ctrl.isThreadAuthor"
              topic-id="$ctrl.thread.topic._id"
              on-add-like="$ctrl.likeThread()"
              on-add-dislike="$ctrl.dislikeThread()"
              on-insert-quote="$ctrl.insertQuote(quote)"
              on-reload="$ctrl.reload()">
            </thread-controls>
          </footer>
        </div>

        <post-item thread="$ctrl.thread"
          has-best-answer="$ctrl.hasBestAnswer"
          role="$ctrl.role"
          is-thread-author = "$ctrl.isThreadAuthor"
          answer="answer"
          ng-repeat="answer in $ctrl.thread.answers | orderBy: '-isUseful'"
          on-get-certain-answer="$ctrl.getCertainAnswer(answer)"
          on-like-answer="$ctrl.likeAnswer(answer)"
          on-dislike-answer="$ctrl.dislikeAnswer(answer)"
          on-insert-quote="$ctrl.insertQuote(quote)"
          on-choose-best-answer="$ctrl.chooseBestAnswer(answer)"
          on-reload="$ctrl.reload()">
        </post-item>

      </div>

    </div>
  </div>
</div>

<add-answer ng-if="!$ctrl.isEditable && ($ctrl.isUser || $ctrl.isAdmin)"
  thread="$ctrl.thread"
  on-reload="$ctrl.reload()">
</add-answer>

<edit-answer ng-if="$ctrl.isEditable && ($ctrl.isUser || $ctrl.isAdmin)"
  thread="$ctrl.thread"
  response-text="$ctrl.responseText"
  answer-id="$ctrl.answerId"
  on-reload="$ctrl.reload()">
</edit-answer>

<guide-to-action ng-if="!$ctrl.isUser && !$ctrl.isAdmin" text="an answer"></guide-to-action>
