<div class="member-list" ng-controller="userCtrl">
  <div class="container">
    <div class="panel">
      <div class="panel-heading panel-accent">Member list</div>
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th><span class="glyphicon glyphicon-flag accent" aria-hidden="true"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{$index}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>
              <div class="checkbox disabled">
                <label>
                  <input type="checkbox" value="" disabled>
                </label>
              </div>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>