// general font-size
$baseFontSize: 14px;
// general body background-color
$bodyBg: #eaedf1;

// navbar-inverse background-color
$navbarBg: #323a45;

// standart panel color
$panelColor: #fff;

// standart project color
$accentColor: #26bcb0;
$accentColorHover: #29ada3;

// table-bg-hover
$accentTableBgColor: #e5fcfa;

// post: button color
$interactColor: #748090;

// post: divider color
$dividerColor: #b8bbbf;

// post: blockquote color
$blockquoteColor: #777;
