@import "custom-variables";
@import "default-classes";

body {
  background-color: $bodyBg;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background-color: $accentColor;
  color: $panelColor;
  margin-top: 48px;
}

.member-list {
  margin-bottom: 20px;
}