<div class="breadcrumb-inner">
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <span class="glyphicon glyphicon-home btn-icon accent" aria-hidden="true"></span>
        Board index
      </li>
    </ol>
  </div>
</div>

<warning-message ng-show="$ctrl.isUserBanned"></warning-message>

<div class="control-panel">
  <div class="container">
    <div class="control-nav">
      <button type="button" 
        class="btn btn-emphasize" 
        ng-show="$ctrl.isAdmin" 
        ng-click="$ctrl.openAddTopic()">
        <span class="glyphicon glyphicon-plus-sign btn-icon accent" aria-hidden="true"></span>
        Add Topic
      </button>
      <a ui-sref="app.members" 
        class="btn btn-emphasize-inverse" 
        role="button" 
        ng-show="$ctrl.isAdmin">
        Member List
      </a>
    </div>
  </div>
</div>

<div class="topic-list" data-ng-cloak>
  <div class="container">
   
    <div role="alert" ng-show="$ctrl.errorMessage" class="alert alert-danger">{{$ctrl.errorMessage}}</div>
    
    <topic-item topic="topic" 
      current-state="$ctrl.currentState" 
      is-admin="$ctrl.isAdmin" 
      ng-repeat="topic in $ctrl.topics"
      on-reload="$ctrl.reload()">
    </topic-item>
    
  </div>
</div>
